.team-members {
  height: 1200px;
  margin-top: 30px;
}

#dark .team-members {
 color: white;
}


@media (max-width: 1000px) {
  .team-members {
    height: auto;
  }
}

.team-members-item img {
  height: 240px;
  cursor: pointer;
  object-fit: cover;

  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center;
  filter: brightness(70%);
}

.team-members-item:hover img {
  filter: brightness(100%);
  transform: scale(1.05);
}

.team-info {
  padding: 10px;
}

.card {
  border: none;
}

.team-members-item {
  margin-top: 20px;
  height: auto;
  overflow: hidden;

  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  cursor: pointer;
}


#dark .team-members-item{
  background-color: #38004c;
  color: white;

  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);

}



.team-members-item:hover {
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  transition-duration: 2s;
  cursor: pointer;
}

.line-for-teammebers {
  width: 170px;
  display: block;
  height: 1px;
  margin: 2px auto;
  background-color: rgb(16, 16, 15);
}

#dark .line-for-teammebers{
  width: 170px;
  display: block;
  height: 1px;
  margin: 2px auto;
  background-color: rgb(190, 190, 19);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons p {
  height: 40px;
  width: 40px;
  background-color: rgb(52, 51, 40);
  color: white;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.social-icons p:hover {
  background-color: rgb(136, 9, 215);
  cursor: pointer;
}
