.navbar-main{
    background-color: #CD5C5C;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    top: 0;
    text-align: center;
    justify-content: right;
    position: sticky;
    z-index: 1;

}

/* navbar scrool changed color */

.navbar-scroll-color{
    background-color: #38004c;
}

.navbar-main ul{
    display: flex;
    margin-right: 10%;

}
.navbar-main ul li{
    list-style-type: none;
    margin-right: 50px;
    color: white;
    cursor: pointer;
    padding-top: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-main ul li:hover{
    color: yellow;
}