.testimonial-section {
  height: auto;
}
#dark .testimonial-section {
  color: white;
}

@media (max-width: 1000px) {
  .testimonial-section {
    margin-top: 25px;
  }
}

.content-card {
  margin-top: 50px;
  padding: 10px;
  color: black;

  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  cursor: pointer;
}


#dark .content-card{
  background-color: #38004c;
  color: white;

  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);

}

#dark .content-card:hover{
  background-color: #38004c;
  color: white;

  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  border-bottom: 2px solid yellowgreen;

}




.content-card:hover {
  background-color: brown;
  color: white;
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  transition-duration: 1s;
}

.marked-content-card {
  background-color: brown;
  padding: 10px;
  color: white;
  margin-top: 50px;
}


#dark .marked-content-card{
  background-color: #4a0a46;
  color: white;

  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);

}



.marked-content-card:hover {
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  transition-duration: 1s;
}

.marked-content-card img {
  height: 80px;
  width: 80px;
  border-radius: 90px;
  object-fit: cover;
  margin-top: -30px;
  border: 3px solid rgb(241, 205, 21);
}

.content-card img {
  height: 80px;
  width: 80px;
  border-radius: 90px;
  object-fit: cover;
  margin-top: -30px;
  border: 3px solid rgb(241, 205, 21);
}
.name {
  font-weight: 20px;
  color: orange;
  font-size: 20px;
}

.load-more-button {
  background-color: #38004c;
  width: auto;
  padding: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.load-more-button:hover {
  background-color: #df4512;
  width: auto;
  padding: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition-duration: 1s;
}
